body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 0;
    text-align: center;
    color: #515076;
}

.product-list {
    list-style: none;
    padding: 20px;
    margin: 20px auto;
}

.main-text {
    color: #532b69;
    line-height: 16px; 
}
.card {
    display: inline-block;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #f5f5f5;
}
.compound-list {
    line-height: 16px;
    margin-bottom: 15px;
    padding-left: 15px;
}
.price {
    margin-top: 20px;
    margin-right: 100px;
    font-size: 16px;
    color: #532b69;
}