body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #515076
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 0;
    text-align: center;
}

.product-list {
    list-style: none;
    padding: 20px;
    margin: 20px auto;
}

.main-text {
    line-height: 18px; 
}
.card {
    display: inline-block;
    box-sizing: border-box;
    width: 340px;
    height: 573px;
    padding: 20px;
    margin: 20px;
    background-color: #f5f5f5;
}
.compound-list {
    line-height: 18px;
    margin-bottom: 15px;
    padding-left: 15px;
}
.price {
    margin-top: 20px;
    margin-right: 50px;
    font-size: 20px;
}
.description {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
    font-size: 12px;
    color: #A5A3B9;
    text-transform: uppercase;
}
.product-name {
    font-size: 20px;
    line-height: 27px;
    margin: 0;
}